@import url('https://fonts.googleapis.com/css2?family=Lacquer&family=Montserrat:wght@100..900&display=swap');

body,  h2 { font-family:"Montserrat", sans-serif ;}
h1, h3 , header {font-family:"Lacquer", system-ui ; font-weight: 500;}


a  {
    font-family: "Lacquer", system-ui;
    font-style: normal;
  }

header{margin-bottom: 50px;
color: firebrick;
background-color:ghostwhite;}

h3, h2 {margin-bottom: 30px; margin-top: 30px;}



.carousel-control-next-icon { 

background-image: url(../imaganes/next.png);

}


.carousel-control-prev-icon {

  background-image: url(../imaganes/prev.png);



}


